/* Header Section */
@import url('https://fonts.googleapis.com/css?family=Srisakdi:400,700');

header{
	background: rgb(240, 185, 6);
}

/* Banner Section */
.banner{
	background: url(../img/background-main.png) no-repeat center;
	background-size: cover;
	padding: 50px 0px;
}
.banner h1{
	color:rgb(223, 56, 14);
	padding-top: 175px;
}
.banner p{
	color: rgb(231, 173, 13);
	font-size: 25px;
	font-style: italic;
	font-weight: 40px;
}
.para{
	color: #fff;
}
.banner h2{
	color: #f18c07;;
}
.banner-content{
	margin-top: 75px;
}
.btn-banner{
	background: rgb(240, 177, 5);
    color: orange;
    padding: 7px 25px;
    border-radius: 25px;
    margin-top: 25px;
}

/* News Section Start  */
.news{
	padding: 75px 0px;
	background: #e48b06;
}
.btn-news{
	background: rgb(219, 56, 7);
    color: orange;
    padding: 7px 25px;
    border-radius: 25px;
    margin-bottom: 25px;
}

/* Newsletter Section */
.newsletter{
	background: url(../img/newsletter.png) no-repeat center;
	background-size: cover;
}
.newsletter-opacity{
	background: rgba(216, 15, 8, 0.5);
    padding: 100px 0px;
}
.newsletter h2{
	color: rgb(230, 129, 14);
}
.newsletter p{
	color: rgb(230, 136, 14);
}
.form-group{
	position: relative;
}
.btn-signup {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50px;
    padding: 6px 35px;
}
.newsletter .form-control{
	border-radius: 50px;
}

/* Gallery Section */
.gallery{
	padding: 75px 0px;
}

/*about section css*/
.about{
	padding: 75px 0px;
	background: rgb(241, 198, 6);
}
.about ul{
	list-style: none;
}
.about ul li{
	padding-bottom: 5px;
	color: rgb(231, 174, 18);
}

/*portfolio section css*/
.Portfolio{
	background: url(G:../img/newsletter.png) no-repeat center;
	padding: 150px 0px;
	background-size: cover;
}
 .Portfolio p{
 	color: rgb(230, 179, 13);
 	padding: 10px;
 	font-size: 25px;
	font-style: italic;
 }
